body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0077b6;
  color: #ffffff;
  margin: 0;
}

body,
li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}

p {
  margin: 10px;
}

li,
p {
  font-size: 1.5rem;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0 10px 0 0;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#booklist li {
  padding: 10px;
}

#booklist li a {
  text-decoration: underline;
  padding: 10px;
  color: #ffffff;
}

#booklist li a:hover {
  background-color: #333;
  border-radius: 10px;
}

#book-summary {
  margin: 0 100px 0 100px;
}

.link {
  text-decoration: underline;
  padding: 10px;
  color: #ffffff;
}

.link:hover {
  background-color: #333;
  border-radius: 10px;
}

#authorlist li {
  padding: 5px;
}
