body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #175958;
  color: #ffffff;
  margin: 0;
  font-family: 'IBM Plex Mono', Verdana, sans-serif;
}

li {
  list-style-type: none;
  font-family: 'IBM Plex Mono', Verdana, sans-serif;
}

p {
  margin: 10px;
  font-size: 1.5rem;
}

li,
p {
  font-size: 1.5rem;
}

/* Nav bar */
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c3131;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0 10px 0 0;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #111;
}

/* Book list */
#booklist li {
  padding: 10px;
}

#booklist li a {
  text-decoration: underline;
  padding: 10px;
  color: #ffffff;
}

#booklist li a:hover {
  background-color: #333;
  border-radius: 10px;
}

#authorlist li {
  padding: 10px;
}

/* Links */
.link {
  text-decoration: underline;
  padding: 10px;
  color: #ffffff;
}

.link:hover {
  background-color: #333;
  border-radius: 10px;
}

#book-summary {
  margin: 0 100px;
}

/* User authentication */
#username {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0 10px 0 0;
}

#logout-button {
  background-color: #ffffff;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

#logout-button:hover {
  background-color: #333;
  color: #ffffff;
  cursor: pointer;
}
