body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0077b6;
  color: #ffffff;
  margin: 0;
}

body,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  font-size: 1.5rem;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
