<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Digital Library</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    {% block sidebar %}
    <ul id="nav">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'books' %}">All Books</a></li>
      <li><a href="">All Authors</a></li>
    </ul>
    {% endblock %} {% block content %}
    <!-- default content text -->
    {% endblock %}
  </body>
</html>
