{% extends 'basic.html' %} {% block title %}
<title>Home</title>
{% endblock %} {% block content %}
<h1>Digital Library Home</h1>
<p>
  Welcome to the digital library, developed by
  <em>Victory</em>
</p>
<h2>Dynamic Content</h2>
<p>The digital library has the following record counts:</p>
<ul>
  <li><strong>Unique Books:</strong> {{ num_books }}</li>
  <li><strong>Copies:</strong> {{ num_instances }}</li>
  <li><strong>Copies Available:</strong> {{ num_instances_available }}</li>
  <li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>
{% endblock %}
